# dictionary

In [3]:
names=['ram','raheem','robert']
ages=[25,30,35]

# the ram age is 25
# the raheem age is 30

for i,j in zip(names,ages):
    print("the {} age is {}".format(i,j))

the ram age is 25
the raheem age is 30
the robert age is 35

## key-value pair concept

**{key:value}**

In [4]:
dict1={'Ram':25,'Raheem':30,'Robert':35}
dict1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

# type, len, min, max

In [5]:
type(dict1)

dict

In [7]:
len(dict1)

3

In [8]:
min(dict1)            # max and min values are based on keys only

'Raheem'

In [9]:
max(dict1)

'Robert'

In [12]:
dict2={'names':['Ram','Raheem','Robert'],
      'ages':[25,30,35]}
dict2

{'names': ['Ram', 'Raheem', 'Robert'], 'ages': [25, 30, 35]}

In [13]:
dict3={25:'ram'}
dict3

{25: 'ram'}

In [15]:
dict4={['Ram','Raheem','Robert']:'names'}
dict4

TypeError: unhashable type: 'list'

In [16]:
dict5={25:35}
dict5

{25: 35}

In [18]:
dict6={'A':'apple','B':10.5,'C':10+5j,12:['A','B','C']}
dict6

{'A': 'apple', 'B': 10.5, 'C': (10+5j), 12: ['A', 'B', 'C']}

In [19]:
dict7={'fruits':{'like':['Apple','Cherry']}}
dict7

{'fruits': {'like': ['Apple', 'Cherry']}}

- if you provide multiple values at key position, it will fail

In [22]:
d8={'mobin':'amazon','mobin':'AMAZON'}
d8

{'mobin': 'AMAZON'}

- duplicates are not allowed

In [21]:
d9={'ravi':30,'ravi':35}
d9

{'ravi': 35}

- if keys are same , the last value will taken

In [24]:
dict1={'zam':25,'raheem':30,'robert':35}
dict1

{'zam': 25, 'raheem': 30, 'robert': 35}

# in

In [25]:
'zam' in dict1

True

In [28]:
'zam':25 in dict1            # error

SyntaxError: illegal target for annotation (2703502049.py, line 1)

In [27]:
for i in dict1:
    print(i)

zam
raheem
robert

# index

In [ ]:
- dictionary values

In [33]:
dict1

{'zam': 25, 'raheem': 30, 'robert': 35}

In [30]:
dict1

NameError: name 'value' is not defined

In [36]:
# wap by usinf for loop get the values

for i in dict1:
    print(i,dict1[i])

zam 25
raheem 30
robert 35

In [53]:
dict2={'names':['Ram','Raheem','Robert'],
      'ages':[25,30,35]}
dict2['names'][0]

'Ram'

In [51]:
for i in range(3):
    print("{} value is {}".format(dict2['names'][i],dict2['ages'][i]))

Ram value is 25
Raheem value is 30
Robert value is 35

In [60]:
d1={'hello':{'hello':{'hello':{'hello':'python'}}}}
d1['hello']['hello']['hello']['hello']

'python'

In [85]:
d2={'hello':[{'fruits':['apple','banana',{'like':['cherry']}]}]}
d2['hello'][0]['fruits'][2]['like'][0]

'cherry'

In [ ]:
# how to create a empty dictionary

In [ ]:
dict1={}

list1=[]

string=''

In [89]:
dict1['nareshit']=['DS','MLOPS','DE']
dict1

{'zam': 25, 'raheem': 30, 'robert': 35, 'nareshit': ['DS', 'MLOPS', 'DE']}

In [91]:
dict1['India']='in semis'
dict1

{'zam': 25,
 'raheem': 30,
 'robert': 35,
 'nareshit': ['DS', 'MLOPS', 'DE'],
 'India': 'in semis'}

In [94]:
dict2={}
dict2['Apple']='fruit'
dict2['Car']='vehicle'
dict2

{'Apple': 'fruit', 'Car': 'vehicle'}

In [118]:
# wap ask the user get 5 random numbers  between 10 to 100
# and perform even and odd operation
# output : {'even':[10,12,14],'odd':[11,13]}

dict8={}
list1,list2=[],[]
import random
n=random.randint(10,100)
for i in range(5):
    num=eval(input("enter a random number:"))
    if(num%2==0):
        list1.append(num)
    else:
        list2.append(num)
                     
dict8["even"]=list1
dict8["odd"]=list2
dict8

enter a random number:10
enter a random number:11
enter a random number:12
enter a random number:13
enter a random number:14

{'even': [10, 12, 14], 'odd': [11, 13]}

# 15-11-23

In [10]:
dict1={"course_id1":'DS',"course_duration":4,"caourse_fee":18000,"institute":"nareshit"}
dict1

{'course_id1': 'DS',
 'course_duration': 4,
 'caourse_fee': 18000,
 'institute': 'nareshit'}

- items-keys-values

In [3]:
dict1.items()                     # All will come

dict_items([('course_id1', 'DS'), ('course_duration', 4), ('caourse_fee', 18000), ('institute', 'nareshit')])

In [9]:
type(dict1.items())

dict_items

In [ ]:
# it is a new type : dict items
# it is not a list

In [17]:
for i in dict1.items():
    print(i)

('course_id1', 'DS')
('course_duration', 4)
('caourse_fee', 18000)
('institute', 'nareshit')

In [14]:
for i,j in dict1.items():
    print(i,":",j)

course_id1 : DS
course_duration : 4
caourse_fee : 18000
institute : nareshit

In [16]:
list(dict1.items())             # type casting using list

[('course_id1', 'DS'),
 ('course_duration', 4),
 ('caourse_fee', 18000),
 ('institute', 'nareshit')]

In [7]:
dict1.keys()

dict_keys(['course_id1', 'course_duration', 'caourse_fee', 'institute'])

In [20]:
list(dict1.keys())

['course_id1', 'course_duration', 'caourse_fee', 'institute']

In [8]:
dict1.values()

dict_values(['DS', 4, 18000, 'nareshit'])

In [21]:
list(dict1.values())

['DS', 4, 18000, 'nareshit']

In [1]:
# one list keys
# second list values

# can you create a dictionary

keys=['course_id1', 'course_duration', 'caourse_fee', 'institute']
values=['DS', 4, 18000, 'nareshit']

dict2={}

for i,j in zip(keys,values):
    dict2[i]=j
    
dict2

{'course_id1': 'DS',
 'course_duration': 4,
 'caourse_fee': 18000,
 'institute': 'nareshit'}

In [2]:
[i for i in range(10)]                      # list comprehension

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
{i:j for i,j in zip(keys,values)}                # dictionary comprehension

{'course_id1': 'DS',
 'course_duration': 4,
 'caourse_fee': 18000,
 'institute': 'nareshit'}

In [ ]:
# can you get keys list and values list from a dictionary
# can you make a dictionary by using two lists

# get

In [14]:
dict1

{'course_id1': 'DS',
 'course_duration': 4,
 'caourse_fee': 18000,
 'institute': 'nareshit'}

In [16]:
dict1={'A':1,'B':2,'C':3}
dict1

{'A': 1, 'B': 2, 'C': 3}

In [17]:
dict1.get('A')

1

In [18]:
dict1.get('a')                  # no output

# clear-copy

In [19]:
dict1.clear()

In [20]:
dict1

{}

In [23]:
dict1={'A':1,'B':2,'C':3}
dict1

{'A': 1, 'B': 2, 'C': 3}

In [34]:
dict2={'A':1,'B':2,'C':3}
dict3=dict2.copy()
dict2.clear()
print(dict3)
print(dict2)

{'A': 1, 'B': 2, 'C': 3}
{}

# pop-

In [45]:
d1={'course_id1': 'DS',
 'course_duration': 4,
 'caourse_fee': 18000,
 'institute': 'nareshit'}

In [46]:
d1

{'course_id1': 'DS',
 'course_duration': 4,
 'caourse_fee': 18000,
 'institute': 'nareshit'}

In [47]:
d1.pop("caourse_fee")

# pop method will take one argument
# that ragument is key, which youn want to return
# and return the corresponding value also

18000

In [48]:
d1

{'course_id1': 'DS', 'course_duration': 4, 'institute': 'nareshit'}

# popitem

In [49]:
d1={'course_id1': 'DS',
 'course_duration': 4,
 'caourse_fee': 18000,
 'institute': 'nareshit'}

In [50]:
d1.popitem()

# popitem is not taking any argument
# it will return output
# which pair it is removing? : last pair

('institute', 'nareshit')

In [51]:
d1

{'course_id1': 'DS', 'course_duration': 4, 'caourse_fee': 18000}

# del

In [53]:
dict1={'course_id1': 'DS',
 'course_duration': 4,
 'caourse_fee': 18000,
 'institute': 'nareshit'}

del dict1["course_duration"]

dict1

{'course_id1': 'DS', 'caourse_fee': 18000, 'institute': 'nareshit'}

# set as default

In [57]:
dict1={'course_id1': 'DS',
 'course_duration': 4,
 'caourse_fee': 18000,
 'institute': 'nareshit'}
    
dict1.setdefault('package')                  # we are not providing valuen : none

dict1.setdefault('certification','valid')      # both key and value also providing   

dict1

{'course_id1': 'DS',
 'course_duration': 4,
 'caourse_fee': 18000,
 'institute': 'nareshit',
 'package': None,
 'certification': 'valid'}

# from keys

In [66]:
dict1={'course_id1': 'DS',
 'course_duration': 4,
 'caourse_fee': 18000,
 'institute': 'nareshit'}

dict1.fromkeys('python',10)

{'p': 10, 'y': 10, 't': 10, 'h': 10, 'o': 10, 'n': 10}

In [67]:
dict1={}
employee=['A','B','C']
dict1.fromkeys(employee,"nareshit")

{'A': 'nareshit', 'B': 'nareshit', 'C': 'nareshit'}

In [68]:
dict2={}
list1=["2","4","5","7"]
dict2.fromkeys(list1,"even")

{'2': 'even', '4': 'even', '5': 'even', '7': 'even'}