In [5]:
# sum of first 10 natural numbers

sum=0
for i in range(1,11):
    sum=i+sum
print("sum of first 10 natural numbers is:",sum)

sum of first 10 natural numbers is: 55

In [20]:
# wap ask the user to find a number is an even or odd number between 1 to 100
# count the number of even numbers and odd numbers


count1=0
count2=0
for i in range(1,101):
    if(i%2==0):
        count1=count1+1
    else:
        count2=count2+1
        
print("total even numbers between 1 to 100 is:",count1) 
print("total odd numbers between 1 to 100 is:",count2)

total even numbers between 1 to 100 is: 50
total odd numbers between 1 to 100 is: 50

In [35]:
# wap get a 20 random numbers between 1 to 100
# count the number of values which are greater than 50 and less than 90
# which are between 50 and 90

import random
count1=0
count2=0
for i in range(20):
    i=random.randint(1,100)
    if(i>50 and i<90):
        print(i,end=" ")
        count1=count1+1
    else:
        print(i,end=" ")
        count2=count2+1     
        
print("\nin between 50 and 90:",count1)
print("out of range:",count2)

17 45 16 66 94 14 92 80 20 63 27 98 47 50 96 2 14 6 96 66
in between 50 and 90: 4
out of range: 16

## in-operator

In [37]:
'b' in 'banana'

True

In [38]:
name='python'

'p' in name
'y' in name
't' in name
'o' in name
'n' in name
'P' in name


# generalised expression# 
# what is vary and what is common

# i in name

False

In [45]:
name='python'
for i in name:
    print(i)

p
y
t
h
o
n

#### range ======== numbers
#### in =========== string
#### eval ========= numbers
#### input ======== string

In [39]:
'py' in name

True

In [40]:
'pt' in name

False

In [57]:
# wap ask the user enter a name
# count the number of letters : using for loop and in operator
#m if the count is greater than 5, print you have lengthy name
# else , print you have small name

name='venkatesh'
count=0
for i in name:
    count=count+1
print(count)
if(count>5):
    print("you have lengthy name")
else:
    print("you have small name")

9
you have lengthy name

In [58]:
name='venkatesh'
count=0
for i in name:
    count=count+1
print(count)
if(count>5):print("you have lengthy name")           # side by side also it will work
else:print("you have small name")

9
you have lengthy name

In [2]:
# wap ask the user enter your name
# iterate your name with loop
# check the condition if i==A : count it
# print(how many letter 'A' are there in your name)

name='venkatesh'
count=0
for i in name:
    if(i=='a'):
        count=count+1
print(count)

1