# strings

In [5]:
name='python'
type(name)

str

In [2]:
name

'python'

In [3]:
name1="python"
name1

'python'

In [4]:
print(name)

python

# doc string

In [4]:
# doc string: triple quotes
# multiple lines
# jupyter we have markdown
# vs code
# pycharm
# notepad++

string1="""hai how are you
    i am good
    i am learning python"""

In [5]:
string1

'hai how are you\n    i am good\n    i am learning python'

In [9]:
"""
this program about infinite while loop
the original password='python'
function:
    arguments: None
    return: None
"""

def pwd():
    password='python' # random number (1,10)
    while True:
        user_pwd=input("enter pwd") # user number= eval(input)
        if password==user_pwd:
            print('you won')
            break
        else:
            print("the password is wrong")

In [3]:
print("hello 'python'")

hello 'python'

In [7]:
print('hello,"python"')

hello,"python"

- entire string will be in double quotes, the highlited string in single quotes
- entire string will be in single quotes, the highlited string in double quotes

In [8]:
string1='python'
string2=string1 # 'py'
string3='hello' # 'he'
string4=string3 # 'he'
string4=string1 # 'py'
string4=string2 # 'py'
string5=string4 #'py'
string5

'python'

- type

- len

- max

- min

In [10]:
string1='python'
type(string1)

str

In [11]:
type(string1)

str

In [12]:
len(string1)

6

In [13]:
min(string1)

'h'

In [14]:
max(string1)

'y'

- in

In [ ]:
# iterate a loop on string1
# print each letter
# get the ascii value
'p' in 'python'
'y' in 'python'
't' in 'python'
'h' in 'python'
'o' in 'python'
'n' in 'python'
# i in 'python'

In [20]:
for i in string1:
    print(i,ord(i),sep="-->")

p-->112
y-->121
t-->116
h-->104
o-->111
n-->110

In [21]:
string1='hai'
string2='python'

In [37]:
string1+string2        # string concatenation

'haipython'

In [33]:
string1-string2    

# i can not do subtraction between two string

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [9]:
string1*string2

# i cant do division between two strings

TypeError: can't multiply sequence by non-int of type 'str'

In [38]:
# why the error is different in multiply the strings
# bcz string type
# change anyone string, then it will come

3*string2 

# python+python+python

'pythonpythonpython'

In [32]:
string1/string2

# i cant do division between two strings

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [ ]:
string1+string2
string1-string2
string1*string2
string1/string2
# read the errors

In [15]:
name1='venky'
name2='victory'

In [16]:
name1+name2

'venkyvictory'

In [18]:
name1+name1

'venkyvenky'

In [11]:
2*name1

'venkyvenky'

In [12]:
3*name2

'victoryvictoryvictory'

In [ ]:
# how to read the string
# single / double / triple quotes
# triple quotes : doc string
# type
# len
# min 
# max
# '+' : concate
# '-'
# '*'
# '/'
# in

## indexing

In [1]:
name='python'

In [ ]:
# how many letters are there: 6
# python index starts with : 0

p    y    t   h   o    n
0    1    2   3   4    5

In [2]:
name[0]

'p'

In [3]:
name[1]

'y'

In [ ]:
name[0]   #  p
name[1]   #  y
name[2]   #  t
name[3]   #  h
name[4]   #  o 
name[5]   #  n

name[i]

In [4]:
# how to print any word/sentence by using ragne method

for i in range(6):
    print(name[i])

p
y
t
h
o
n

In [5]:
name='python'
for i in range(7):
    print(name[i])            # name[6]=== not matching

p
y
t
h
o
n

IndexError: string index out of range

In [9]:
name1='hello how are you'    
# spaces also consider as one character
print(len(name1))
# i need to provide some number
for i in range(len(name1)):
    print(name1[i],end=' ')

17
h e l l o   h o w   a r e   y o u

In [17]:
# wap ask the user print the letters from a given word
# using for loop
# the index of p is : 0
# the index of y is : 1

# i want letter as well as attached index number

name2='python'
for i in range(len(name2)):
    print("the index of {} is: {}".format(name2[i],i))

the index of p is: 0
the index of y is: 1
the index of t is: 2
the index of h is: 3
the index of o is: 4
the index of n is: 5

In [24]:
# same code using while loop

name2='python'
i=0
while(i<len(name2)):
    print("the index of {} is: {}".format(name2[i],i))
    i=i+1

the index of p is: 0
the index of y is: 1
the index of t is: 2
the index of h is: 3
the index of o is: 4
the index of n is: 5

In [ ]:
-6  -5   -4  -3  -2   - 1 =============> negative index
p    y    t   h   o    n
0    1    2   3   4    5 ==============> positive index

In [19]:
name3='python'          # in negative direction it starts from last
name3[-6]

'p'

In [43]:
# wap ask the user print the letters from a given word
# using for loop
# 'the negative index of p is:-6'
# 'the negative index of y is:-5'
# i want letter as well as attached index number

name2='python'
for i in range(len(name2)):
    print("the negative index of {} is: {}".format(name2[i],i-len(name2)))

the negative index of p is: -6
the negative index of y is: -5
the negative index of t is: -4
the negative index of h is: -3
the negative index of o is: -2
the negative index of n is: -1

In [44]:
name2='python'
for i in range(-6,0):
    print("the negative index of {} is: {}".format(name2[i],i))

the negative index of p is: -6
the negative index of y is: -5
the negative index of t is: -4
the negative index of h is: -3
the negative index of o is: -2
the negative index of n is: -1

In [45]:
name2='python'
for i in range(-len(name2),0):
    print("the negative index of {} is: {}".format(name2[i],i))

the negative index of p is: -6
the negative index of y is: -5
the negative index of t is: -4
the negative index of h is: -3
the negative index of o is: -2
the negative index of n is: -1

In [28]:
# same code using while loop

i=0
name2='python'
while(i>-len(name2)):
    print("the negative index of {} is: {}".format(name2[i],-len(name2)-i))
    i=i-1

the negative index of p is: -6
the negative index of n is: -5
the negative index of o is: -4
the negative index of h is: -3
the negative index of t is: -2
the negative index of y is: -1

In [26]:
name2='python'
i=-6
while(i<0):
    print("the negative index of {} is: {}".format(name2[i],i))
    i=i+1

the negative index of p is: -6
the negative index of y is: -5
the negative index of t is: -4
the negative index of h is: -3
the negative index of o is: -2
the negative index of n is: -1

In [74]:
name3='python'
i=-len(name3)
while(i<0):
    print("the negative index of {} is: {}".format(name3[i],i))
    i=i+1

the negative index of p is: -6
the negative index of y is: -5
the negative index of t is: -4
the negative index of h is: -3
the negative index of o is: -2
the negative index of n is: -1

In [80]:
# output is
# the positive index is 0 and negative index is -6 for p
# the positive index is 1 and negative index is -5 for y


name2='python'
for i in range(len(name2)):
    print("the positive index is {} and negative index is {} for: {}".format(i,i-len(name2),name2[i]))

the positive index is 0 and negative index is -6 for: p
the positive index is 1 and negative index is -5 for: y
the positive index is 2 and negative index is -4 for: t
the positive index is 3 and negative index is -3 for: h
the positive index is 4 and negative index is -2 for: o
the positive index is 5 and negative index is -1 for: n

In [84]:
name5='python'
i=-len(name5)
while(i<0):
    print("the positive index is {} and negative index is {} for: {}".format(i+len(name5),i,name5[i]))
    i=i+1

the positive index is 0 and negative index is -6 for: p
the positive index is 1 and negative index is -5 for: y
the positive index is 2 and negative index is -4 for: t
the positive index is 3 and negative index is -3 for: h
the positive index is 4 and negative index is -2 for: o
the positive index is 5 and negative index is -1 for: n

In [92]:
name5='python'
i=0
while(i<len(name5)):
    print("the positive index is {} and negative index is {} for: {}".format(i,i-len(name5),name5[i]))
    i=i+1

the positive index is 0 and negative index is -6 for: p
the positive index is 1 and negative index is -5 for: y
the positive index is 2 and negative index is -4 for: t
the positive index is 3 and negative index is -3 for: h
the positive index is 4 and negative index is -2 for: o
the positive index is 5 and negative index is -1 for: n

In [ ]:
sent='hai hai how are you'
#Q1 print how many 'a' are there 
#Q2 print the index of 'a'  
#Q3 print the no.of unique 'a'
#Q4 print the number of vowels: a a i o a e o u:  9
#Q5 print the number of unique vowels: a i o e u:  5

In [29]:
#Q1 print how many 'a' are there 

sent='hai hai how are you'
count=0
for i in range(len(sent)):
    if(sent[i]=='a'):
        count=count+1
print("no.of repeated 'a' are:",count)

no.of repeated 'a' are: 3

In [109]:
#Q2 print the index of 'a'

sent='hai hai how are you'
for i in range(len(sent)):
    if(sent[i]=='a'):
        print(i)

1
5
12

In [33]:
#Q4 print the number of vowels: a a i o a e o u:  9

sent='hai hai how are you'
count=0
for i in range(len(sent)):
    if(sent[i] in 'aeiou'):
        count=count+1
        print(sent[i],end=" ")
print("\ntotal no.of vowels are:",count)

a i a i o a e o u
total no.of vowels are: 9

In [37]:
#Q5 print the number of unique vowels: a i o e u:  4


# take an empty string
#string=''
# iterate through loop
# if 'a' in 'aeiou':
#      if 'a' not in 'aeiou':
#           string=string+'a'        # string='a'


# check two conditions parallel
# the given letter is in 'aeiou'
# if that is true check above same letter it is there in empty string
# if it is not there move to empty string
# if it is there dont move


sent='hai hai how are you'
string=''
for i in range(len(sent)):
    if(sent[i] in 'aeiou'):
        if(sent[i] not in string):
            string=string+sent[i]
print("the unique vowels are:",string)

the unique vowels are: aioeu

In [39]:
#Q3 print the no.of unique 'a'

sent='hai hai how are you'
string=''
for i in range(len(sent)):
    if('a' in 'aeiou'):
        if('a' not in string):
            string=string+'a'
print("the unique vowels are:",string)

the unique vowels are: a

## 03-11-23

### mutability-immutability
### strings are immutable

In [1]:
string1='python'

In [ ]:
# i want to replace 'p' with 'P'
# based on index operation if you change it or not
# if you change the value by using index operation : mutable
# if you could not change the value by using index operation : immutable  (strings)

In [2]:
string1[0]='P'

TypeError: 'str' object does not support item assignment

# above strings are immutable

## slicing

In [ ]:
# this concept is same as range() in for loop
# range(start,stop,step)
# string1[start:stop:step]

In [16]:
string1="hello how are you"
string1[0]

'h'

In [17]:
string1[2:9]

# string1[start:stop]
# what si the difference : positive 
# start = 2
# stop = 10-1 = 9

'llo how'

In [ ]:
h  e  l  l  o     h  o  w      a   r   e       y   o   u
0  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15   16

In [7]:
len(string1)

17

In [8]:
string1[1:15:2]

# start=1
# stop=15-1 = 14
# step = 2

'el o r '

In [10]:
string1[1:15:-2]

# start=1
# stop = 15-1 = 14
# direction = -ve

''

In [11]:
string1[:]                  # string1[start:stop]

# start=0
# stop = till last character
# ntg means +ve

'hello how are you'

In [13]:
string1[::]                  # string1[start:stop:stop]

'hello how are you'

- nothing mentioned at start position : simply starting of letter
    
- nothing mentioned at stop position : simply last letter
    
- nothing mentioned at step size : it is positive direction with step value 1

In [19]:
string1[0:]

'hello how are you'

In [20]:
string1[:len(string1)]

'hello how are you'

In [21]:
string1[:]

'hello how are you'

In [22]:
string1[::]

'hello how are you'

In [ ]:
-17 -16 -15  -14 -13 -12  -11  -10  -9  -8  -7  -6  -5   -4  -3  -2  -1  
 h   e   l    l   o        h    o    w       a   r   e       y   o   u
0    1   2    3   4   5    6    7    8   9  10  11  12  13  14  15   16

In [26]:
string1[-2:-15]
# start=-2
# stop = -15+1 = -14
# by default steop is : =+ve

''

In [28]:
string1[-2:-15:-1]
# start= -2
# stop= -15+1 =-14
# step is : -ve

'oy era woh ol'

In [29]:
string1[8:-15:-1]

'woh ol'

In [33]:
string1[8:-10:-1]

'w'

In [34]:
string1[8:-10:-2]

'w'

In [35]:
string1[::1]

'hello how are you'

In [36]:
string1[::-1]

'uoy era woh olleh'

## string methods:

In [40]:
dir('')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

- capitalize

In [42]:
name='naresh it'

In [43]:
help(name.capitalize)

Help on built-in function capitalize:

capitalize() method of builtins.str instance
    Return a capitalized version of the string.

    More specifically, make the first character have upper case and the rest lower
    case.

In [44]:
name.capitalize()

'Naresh it'

In [50]:
user='venkatesh'
user.capitalize()

'Venkatesh'

In [ ]:
# upper 
# lower

- upper

In [51]:
name='venkatesh'
name.upper()

'VENKATESH'

- lower

In [57]:
name='VENKATESH'
name.lower()

'venkatesh'

In [59]:
name1='naresh IT'
print(name1.capitalize())
print(name1.upper())
print(name1.lower())

Naresh it
NARESH IT
naresh it

- casefold

In [60]:
help(name.casefold)

Help on built-in function casefold:

casefold() method of builtins.str instance
    Return a version of the string suitable for caseless comparisons.

In [65]:
name3='venky'
name3.casefold()

'venky'

In [66]:
name3='venky'
print(name3.casefold())

venky

In [69]:
string1='hello'

# output : string1='Hello'   with out using string method

'H'+string1[1:5]

'Hello'

In [98]:
string1='hello'
string2='H'
string3=string2+string1[1:]
string3

'Hello'

# 04-11-23

In [ ]:
# now we are in the count method

#  count

In [2]:
string1="HAI HAI hai hai"
# hoew maqny h are there
# if this methiod will give 'H' and 'h'

In [3]:
string1.count('H')

2

In [4]:
string1.count('h')

2

In [18]:
# wap convert above string into lower case
# and count number of 'h'

# do by using string methods
# do by using with out string methods

# method-1:
string1="HAI HAI hai hai"
string3=string1.lower()
string3

'hai hai hai hai'

In [19]:
string3.count('h')

4

In [20]:
# method-2:
string1.lower().count('h')

4

In [21]:
# method-3:
"HAI HAI hai hai".lower().count('h')

4

In [24]:
# method-1, using in operator
string1="HAI HAI hai hai"
count=0
for i in string1:
    if(i=='H' or i=='h'):
        count=count+1
print(count)

4

In [25]:
# method-2, using in operator
string1="HAI HAI hai hai"
count=0
for i in string1.lower():
    if(i=='h'):
        count=count+1
print(count)

4

In [26]:
# method-3, using in operator
string1="HAI HAI hai hai"
count=0
for i in string1:
    if(i.lower()=='h'):
        count=count+1
print(count)

4

In [27]:
# method-4 , using ramge operation 

string1="HAI HAI hai hai"
count=0
for i in range(len(string1)):
    if(string1[i].lower()=='h'):
        count=count+1
print(count)

4

In [34]:
string2="ola ola ola ola"
print(string2.count("ola"))
print(string2.count("ol"))
print(string2.count("oa"))
print(string2.count("ola "))

4
4
0
3

In [11]:
string2="ola ola ola ola"
len(string2)

15

In [12]:
print(string2.count('a',4))
# here 4 means we are counting 'a' from 4th index

# string.count(<char>,start_index)

print(string2.count('a',4,9))
# how many 'a' are there in between 4 and 8th index

3
1

In [14]:
string2[4:].count('a')

3

In [16]:
# wap by using for if

string2="ola ola ola ola"
count=0
for i in range(len(string2)):
    if i>=4:
        if(string2[i]=='ola'):
            count=count+1
print(count)

# output : 3

0

In [55]:
string2[4:].count('ola')

3

In [45]:
string2.count('ola',4)

3

In [62]:
string2="ola ola ola ola"
count=0
for i in range(len(string2)-2):
    if i>=4:
        if(string2[i]+string2[i+1]+string2[i+2]=='ola'):
            count=count+1
print(count)

3

- how many 'a'
- index of 'a'
- number of vowels in a given string
- unique vowels

In [1]:
# 1) how many 'a'

string1=" hai hello how are you"
count=0
for i in string1:
    if(i=='a'):
        count=count+1
print(count)

2

In [4]:
#  2) index of 'a'

string1=" hai hello how are you"
for i in range(len(string1)):
    if(string1[i]=='a'):
        print(i)

2
15

In [14]:
# 3)number of vowels in a given string

string1="hai hello how are you"
count=0
for i in range(len(string1)):
    if(string1[i] in 'aeiou'):
        count=count+1
print(count)

9

In [35]:
# 4) unique vowels

string1='hai hello how are you'
string2=' '
for i in string1:
    if(i in 'aeiou'):
        if(i not in 'aeiou'):
            string2=i+string2
print(string2)

# 06-11-23

## replace

In [2]:
string1='welcome'
# i want to replace 'l' with 'L'

In [4]:
string1[2]='L'           # string is immutable, bcz we are using index operation

TypeError: 'str' object does not support item assignment

In [5]:
string1[:2]+'L'+string1[3:]         # slicing and concatenation

'weLcome'

In [6]:
string1.replace('l','L')          # by using replace method

'weLcome'

In [20]:
# input is restart
# output1: $estart
# output2: resta$t
# using replace method

# what is the initial dRAWBACK 
string2='restart'
string2.replace('r','$')
# replace method will replace all
# all occurences

'$esta$t'

In [20]:
string1 ='restart'
print('$'+string1[1:])                   # we already know
print(string1[:5]+'$'+string1[6:])        # we already know
print(string1.replace('r','$'))

$estart
resta$t
$esta$t

In [21]:
'restart'.replace('restart','$$$$$$$')

'$$$$$$$'

In [22]:
string4='restart'
string4.replace('restart','resta$t')

'resta$t'

In [19]:
str1='restart'
str1.replace('restart','$estart')

'$estart'

In [49]:
string2.replace('r','$',count=1)

# -1 replaces all
# count is a keyword
# slash '/' is there for in future there is something going to impelmented
# remove count

TypeError: str.replace() takes no keyword arguments

In [50]:
string2.replace('r','$',1)

'$estart'

In [22]:
# 1 means only replace onme occurenace
# now i want to do 2nd occureancce
# as of now er are counting the index

string2[1:]
string2[:1]
print(string2[:1]+string2[1:].replace('r','$',1))

resta$t

In [55]:
print(string2[::-1].replace('r','$',1)[::-1])

resta$t

In [28]:
str1=string2[1:]
str2=string2[:1]
str3=str1.replace('r','$',1)
print(str2+str3)

resta$t

In [34]:
string1='restart'
print(string1.replace('r','$'))
print(string1.replace('r','$',1))


print(string1[1:])
print(string1[:1])
print(string1[:1]+string1[1:].replace('r','$',1))

$esta$t
$estart
estart
r
resta$t

In [46]:
name='venkatesh'
print(name.replace('e','E'))
print(name.replace('e','E',1))
print(name[:2]+name[2:].replace('e','E',1))
print(name.replace('venkatesh','venkatEsh'))
print(name.replace('venkatesh','vEnkatesh'))
print(name.replace('venkatesh','vEnkatEsh'))

vEnkatEsh
vEnkatesh
venkatEsh
venkatEsh
vEnkatesh
vEnkatEsh

# index

In [61]:
string1='python'
# if i want to know'
# index of 't'
string1.index('t')

# this is very very important method

2

In [47]:
string1='restart'

# replace the 2nd 't' with 2
# some slice

string1[:6]+'2'

'restar2'

In [57]:
string1='restart'
# i need 'art' without slicing,replace
print(string1.replace('restart','art'))          # using replace
print(string1[4:])                              # using slicing
print(string1.index('t'))

art
art
3

In [52]:
string1[string1.index('t')+1:]              # using index

'art'

In [58]:
string1[string1.find('t')+1:]              # using find

'art'

In [89]:
string1='restart'
f_o=string1.index('t')
s_o=string1.index('t',f_o+1)
print(f_o,s_o)

3 6

In [91]:
string1='restart how to'

In [93]:
f_o=string1.index('t')
s_o=string1.index('t',f_o+1)
t_o=string1.index('t',s_o+1)
print(f_o,s_o,t_o)

3 6 12

In [103]:
string1='restart how to'
print(string1.count('t')) # 3
print(string1.index('t')) # 3

3
3

In [108]:
string1='restart how to'
print(string1.count('T')) # 0
print(string1.index('T')) # sub string error

0

ValueError: substring not found

In [109]:
print(string1.replace('TTTT','&')) # restart how to

restart how to

# find

In [111]:
string1='restart how to'
string1.find('T')                  # in find ,if it doestnot exist , it will print -1

-1

-  difference between index and find

-  when it is error in index , it will show error

-  when it is eroor in find , it will return -1 value

In [112]:
string.index('T')                 # in index, if it doest not exist ,it will show error

NameError: name 'string' is not defined

In [102]:
string1='restart how to'
print(string1.count('T'))       # 0
# print(string1.index('T'))          # sub string not found
print(string1.replace('TTTT','&'))   # no error
'python'.replace('z','ZZZZZ')        # no error
print(string1.find('T'))              # -1 ( in find )

0
restart how to
-1

# split

In [93]:
string1="hai how are you"
string1.split()                          # ntg mentioned means it takes the space

['hai', 'how', 'are', 'you']

In [94]:
string2="hai how,are you"
string2.split(',')

['hai how', 'are you']

In [96]:
var1='hai how'
var2='are you'
print(var1,var2,sep=',')

hai how,are you

In [115]:
string2="hai how,are you"
string2.split('a')

['h', 'i how,', 're you']

# 07-11-23

- string/ double string/ triple string(doc string)
- len 
- type
- min 
- max
- in
- capitalize/upper / lower/ casefold
- slicing
- count
- index/find
- replace
- split

In [114]:
sent1='rashaad.omkar@gmail.com'
# exract only: omkar

In [122]:
f_o=sent1.index('.',1)
s_o=sent1.index('@')
print(f_o)
print(s_o)

7
13

In [12]:
sent1.replace('rashaad.omkar@gmail.com','omkar')

'omkar'

In [14]:
sent1.replace('rashaad.','').replace('@gmail.com','')

'omkar'

In [18]:
sent1[sent1.find('.')+1:sent1.find('@')]

'omkar'

In [20]:
sent1[sent1.index('.')+1:sent1.index('@')]

'omkar'

In [126]:
sent2='mobin.sourav@uma.com'
# extract : uma
sent2.index('.')
sent2[sent2.index('@')+1:sent2.index('.',sent2.index('.')+1)]

5
uma

In [131]:
sent2='mobin.souravsahoo@nareshit.ac.in'

# between '@' and '.' (second dot)
index1=sent2.index('@')
first_dot_index=sent2.index('.')
sec_dot_index=sent2.index('.',first_dot_index+1)
sent2[index1+1:sec_dot_index]

'nareshit'

In [133]:
sent2.index('.')
sent2.index('@')
sent2[sent2.index('@')+1:sent2.index('.',sent2.index('.')+1)]

'nareshit'

- lets say all the mauls are in a text file
- how to read the text file
- fist second comany email

# strip-lstrip-rstriop

In [31]:
string1=' hai how are you '    # strip
string2='hai how are you '     # strip/lstrip 
string3=' hai how are you'     # strip/rstrip

- if you want to remove the spaces we use method strip
- strip: it will remove spaces both sides
- lstrip: it will remove left side space
- rstrip: it will remove right side space

In [32]:
string1.strip(),string1.lstrip(),string1.rstrip()

('hai how are you', 'hai how are you ', ' hai how are you')

In [37]:
string1='&&&&&hello&&&&&&'
print(string1.strip('&'))
print(string1.lstrip('&'))
print(string1.rstrip('&'))

hello
hello&&&&&&
&&&&&hello

# startswith-endswith

In [39]:
string1='hai how are you'
string1.startswith('hai')

True

In [40]:
string1.startswith('how')

False

In [41]:
string1.startswith('h')

True

In [42]:
string1.startswith('ha')

True

In [43]:
string1.endswith('you')

True

In [44]:
string1.endswith('u')

True

In [48]:
string1.endswith('oou')

False

In [47]:
print(string1.startswith(string1))
print(string1.endswith(string1))

True
True

- capitalize/upper/lower/casefold
- index/find
- count
- replace
- split
- strip/lstrip/rstrip
- startswith/endswith

In [78]:
string1='1234'
string1.isalpha()

False

In [79]:
string1='python1234'
string1.isalnum()

True

In [81]:
string1='12.4'
string1.isdecimal()

False

In [82]:
string1='python'
string1.isupper()

False

In [83]:
string1='python'
string1.islower()

True

In [87]:
string2='10.5'
print(string2.isnumeric())
print(string2.isalnum())
print(string2.isdecimal())
print(string2.isdigit())

False
False
False
False

In [88]:
string1='python1234 '
string1.isalnum()

False

In [91]:
string1='python '
string1.rstrip().isalnum()

True

In [ ]:
Q1) in a given sentence what is the most repeated word
# example: 'hai how are you you hai'

Q2) in a given sentence what is the maximaum length of the string
Q3) in a given sentence what is the minimum length of the string
# example: 'hello how are youuuuu' 

Q4) str1='hyd'   str2='chennai'    str3='mumbai'
     # greatest word and smallest word : by using ascii values

In [ ]:
string1="hai how are you you you hai"
count=''
for 'you'  in string1:
    ------
    ------

- single/double/triple
- type/len/min/max
- capitalize/casefold/upper/lower
- in
- slicing
- index/find
- count
- replace
- split
- strip/lstrip/rstrip
- startswith/endswith