# Type casting

### data type conversion 

### converting one data type to another data type

In [ ]:
int 

float

str

bool

complex

### int to other data type

In [1]:
number=100
type(number)

int

# 1.convert int to float
float(number)

In [4]:
float_number=100
float_number

100

In [5]:
type(float_number)

int

In [6]:
float(float_number)

100.0

# 2.convert into str type

In [5]:
#int to string

str(number)

'100'

In [6]:
string_number=str(number)
string_number

'100'

In [7]:
type(string_number)

str

# 3.convert into boolean

In [9]:
#int to bool

bool(number)

True

In [10]:
bool(-200)

True

In [11]:
bool(0)

False

# 4.convert into complex

In [12]:
# int to complex
a=200
complex(a)

(200+0j)

In [13]:
a=200
b=300
complex(a,b)

(200+300j)

In [16]:
a=0
b=300
complex(a,b)

300j

# converting float to other data type

In [18]:
#1. float to int
number1=10.5
number1

10.5

In [20]:
type(number1)

float

In [19]:
int(number1)

10

### 2.float to str

In [21]:
number1=10.0
number1

10.0

In [22]:
str(number1)

'10.0'

### 3.float to bool

In [23]:
number1=10.0
number1

10.0

In [24]:
bool(number1)

True

### 4. float to complex

In [27]:
number1=10.2
number1

10.2

In [29]:
complex(number1)

(10.2+0j)

# converting string to other data type

In [ ]:
string1='python'

int(string1)           # english letters can't convert into mathematics(decimal)
float(string1)         # english letters can't convert into mathematics(decimal) 
bool(string1)
complex(string1)       # english letters can't convert into mathematics(decimal)

### 1.string to int

In [30]:
string1='python'
int(string1)

ValueError: invalid literal for int() with base 10: 'python'

### 2.string to float

In [31]:
string1='python'
float(string1)

ValueError: could not convert string to float: 'python'

### 3.string to bool

In [32]:
string1='python'    # when string is with some name, then it is true
bool(string1)

True

In [37]:
string1=""      # when string is empty, then it is false
bool(string1)

False

### 4.string to complex

In [33]:
string1='python'
complex(string1)

ValueError: complex() arg is a malformed string

In [40]:
int('10')      # 10 is integer type

10

In [41]:
int('10.5')      # 10.5 is float type,can't work with integer

ValueError: invalid literal for int() with base 10: '10.5'

In [42]:
float('10')

10.0

In [43]:
float('10.5')

10.5

# converting complex to otgher data type

In [50]:
string4=20+30j
complex(string4)

(20+30j)

In [7]:
num1=100+300j
num1

(100+300j)

In [8]:
int(num1)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [9]:
float(num1)

TypeError: float() argument must be a string or a real number, not 'complex'

In [10]:
str(num1)

'(100+300j)'

In [11]:
bool(num1)

True