# list

- how do we read?

- type

- len

- min

- max

- concatenation (add two list)

- subtract two list

- multiply two list

- divide two list

- index

- slice

- mutable

- list methods

In [ ]:
# array is list of elements stored in square brackets

In [1]:
list1=[1,2,3,4]
list1

[1, 2, 3, 4]

In [2]:
list2=['A','B','C','D']
list2

['A', 'B', 'C', 'D']

In [3]:
list3=['Apple',1234]
list3

['Apple', 1234]

In [5]:
list4=['A',1,2.6,10+30j]
list4

['A', 1, 2.6, (10+30j)]

- list is a heterogeneous property

- any kind of data type elements we can store in the form of list

In [6]:
list5=[100,100,100]
list5

[100, 100, 100]

- list elements can be duplicated

- which means duplicate elements are allowed

In [7]:
list6=['A','a']
list6

['A', 'a']

In [8]:
list7=['hai how are you',[1,2,3]]
list7

['hai how are you', [1, 2, 3]]

- list in list also it can take

# type

In [9]:
type(list1)

list

In [13]:
type(list7)

list

# len , min ,max sum

In [24]:
list1=[1,2,3,4]
len(list1)

4

In [25]:
print(len(list1))    # 4
print(max(list1))    # 4 
print(min(list1))    # 1
print(sum(list1))   # 1+2+3+4 = 10

4
4
1
10

In [28]:
list2=['A','B','C','D']
print(len(list2))        # 4
print(max(list2))        # D
print(min(list2))        # A
print(sum(list2))        # error

4
D
A

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [32]:
list3=['Apple',1234]
print(len(list3))       # 2
print(max(list3))       # error
print(min(list3))       # error
print(sum(list3))       # error

2

TypeError: '>' not supported between instances of 'int' and 'str'

In [34]:
list4=['A',1,2.6,10+30j]
print(len(list4))         # 4
print(max(list4))         # error
print(min(list4))         # error
print(sum(list4))         # error

4

TypeError: '>' not supported between instances of 'int' and 'str'

In [35]:
list5=[100,100,100]
print(len(list5))         
print(max(list5))         
print(min(list5))         
print(sum(list5))

3
100
100
300

In [36]:
list6=['A','a']
print(len(list6))         
print(max(list6))         
print(min(list6))         
print(sum(list6))         # error

2
a
A

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [37]:
list7=['hai how are you',[1,2,3]]
print(len(list7))       # 2 
print(max(list7))       # error   
print(min(list7))       # error   
print(sum(list7))       # error

2

TypeError: '>' not supported between instances of 'list' and 'str'

In [38]:
print(list1)
print(list2)

[1, 2, 3, 4]
['A', 'B', 'C', 'D']

# concatenation

In [40]:
list_concat=list1+list2
list_concat

[1, 2, 3, 4, 'A', 'B', 'C', 'D']

In [41]:
print(list1)
print(list2)
print(list_concat)

[1, 2, 3, 4]
['A', 'B', 'C', 'D']
[1, 2, 3, 4, 'A', 'B', 'C', 'D']

# subtraction, multiply, divide

In [42]:
print(list1-list2)       # error
print(list1*list2)       # error
print(list1/list2)       # error

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [43]:
# multiply with string and int will work
2*list1

[1, 2, 3, 4, 1, 2, 3, 4]

# in

In [47]:
list2=['A','B','C','D']
print('A' in list2)
print('B' in list2)
print('Z' in list2)

True
True
False

In [ ]:
# whenever you are reading in operator
# iterate the loop (for/while) and print the elements

In [ ]:
# i in list2

In [54]:
for i in list2:
    print(i)

A
B
C
D

In [56]:
list1=[1,2,3,4]
for i in list1:
    print(i)

1
2
3
4

In [58]:
list3=['Apple',1234]
for i in list3:
    print(i)

Apple
1234

In [60]:
list5=[100,100,100]
for i in list5:
    print(i)

100
100
100

In [62]:
for i in list7:
    print(i)

hai how are you
[1, 2, 3]

- if we want to deal with while , we required numbers

# index

In [69]:
list2

['A', 'B', 'C', 'D']

In [ ]:
# python index starts with zero

A     B    C     D
0     1    2     3

In [74]:
list2[0],list2[1],list2[2],list2[3]

('A', 'B', 'C', 'D')

In [82]:
for i in range(len(list2)):
    print(list2[i])

A
B
C
D

In [83]:
i=0
while(i<len(list2)):
    print(list2[i])
    i=i+1

A
B
C
D

In [ ]:
===========for /while =============
the positive index of A is 0
the positive index of B is 1
===========for /while ============
the negative index of A is 0
the negative index of B is 1
============for /while =============
the positive index of A is 0 and negative index is -4
the positive index of B is 1 and negative index is -3

In [84]:
for i in range(len(list2)):
    print("the positive index of {} is {}".format(list2[i],i))

the positive index of A is 0
the positive index of B is 1
the positive index of C is 2
the positive index of D is 3

In [86]:
i=0
while(i<len(list2)):
    print("the positive index of {} is {}".format(list2[i],i))
    i=i+1

the positive index of A is 0
the positive index of B is 1
the positive index of C is 2
the positive index of D is 3

In [87]:
for i in range(len(list2)):
    print("the negative index of {} is {}".format(list2[i],i))

the negative index of A is 0
the negative index of B is 1
the negative index of C is 2
the negative index of D is 3

In [88]:
i=0
while(i<len(list2)):
    print("the negative index of {} is {}".format(list2[i],i))
    i=i+1

the negative index of A is 0
the negative index of B is 1
the negative index of C is 2
the negative index of D is 3

In [89]:
for i in range(len(list2)):
    print("the positive index of {} is {} and negative index is {}".format(list2[i],i,i-len(list2)))

the positive index of A is 0 and negative index is -4
the positive index of B is 1 and negative index is -3
the positive index of C is 2 and negative index is -2
the positive index of D is 3 and negative index is -1

In [90]:
i=0
while(i<len(list2)):
    print("the positive index of {} is {} and negative index is {}".format(list2[i],i,i-len(list2)))
    i=i+1

the positive index of A is 0 and negative index is -4
the positive index of B is 1 and negative index is -3
the positive index of C is 2 and negative index is -2
the positive index of D is 3 and negative index is -1

# list is mutable

In [94]:
list2

['A', 'B', 'C', 'D']

In [95]:
list2[0]='AAA'
list2

['AAA', 'B', 'C', 'D']

In [122]:
list1=[[[[[1,2,3,4]]]]]
list1[0][0][0][0][3]

4

In [139]:
list2=[[[[['A','B',[1,2,3,['cherry']]]]]]]
list2[0][0][0][0][2][3][0]

'cherry'

In [165]:
list1=[[1,2,3]]
list2=list1[0]
for i in range(len(list2)):
    print(list2[i])

1
2
3

# slice

In [1]:
list1=['A','B','C','D','E','F',1,2,3,4,5,6]

In [3]:
print(list1[2:11:2])    # p
print(list1[2:11:-2])    # np
print(list1[2:-11:2])    # np
print(list1[2:-11:-2])   # p
print(list1[-2:11:2])    # p
print(list1[-2:-11:2])   # np
print(list1[-2:-11:-2])  # p
print(list1[-2:11:-2])   # np

['C', 'E', 1, 3, 5]
[]
[]
['C']
[5]
[]
[5, 3, 1, 'E', 'C']
[]

In [14]:
# wap ask the user print the elements which has length more than 4
# list1=['hyderabad','delhi','chennai','blr']
# output : hyderabad, chennai, delhi
list1=['hyderabad','delhi','chennai','blr']
for i in list1:
    if(len(i)>4):
        print(i)

hyderabad
delhi
chennai

In [21]:
list1=['hyderabad','delhi','chennai','blr']
for i in range(len(list1)):
    if len(list1[i])>4:
        print(list1[i])

hyderabad
delhi
chennai

- in operators ====== direct element

- range() requires a number inside the bracket

- that number indicates index of the element

In [22]:
# wap ask the user to print the elements which are having '#' in the element
list1=['hyderab#d','delhi','chenn#i','blr']
for i in list1:
    if('#' in i):
        print(i)

hyderab#d
chenn#i

In [40]:
list1=['hyderab#d','delhi','chenn#i','blr']
i=0
while i<len(list1):
    if('#' in list1[i]):
        print(list1[i])
    i=i+1

hyderab#d
chenn#i

In [45]:
# wap ask the user print elements which are starting with 'H'
list1=['Hyderab#d','Delhi','Chenn#i','b#lr','Haridwar']
for i in range(len(list1)):
    if(list1[i][0]=='H'):
        print(list1[i])

Hyderab#d
Haridwar

In [48]:
list1=['Hyderab#d','Delhi','Chenn#i','b#lr','haridwar']
for i in range(len(list1)):
    if(list1[i].lower()[0]=='h'):
        print(list1[i])

Hyderab#d
haridwar

In [49]:
for i in list1:
    if(i.lower().startswith('h')):
        print(i)

Hyderab#d
haridwar

In [87]:
list1=['omkar.nallagoni@gmail.com','kareem.pasha@gmail.com','santhosh.kadam@gmail.com']
# print the second names
for i in list1:
    print(i[i.index('.')+1:i.index('@')])

nallagoni
pasha
kadam

In [119]:
list1=['omkar.nallagoni@gmail.com','kareem.pasha@gmail.com','santhosh.kadam@gmail.com']
for i in list1:
    print(i.split('@')[0].split('.')[1])

nallagoni
pasha
kadam

# list methods

In [97]:
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

## append

In [101]:
list1=[100,200,300]
# now you want to append a new element
list1.append(400)
# answer will save automatically in original list
list1

[100, 200, 300, 400]

In [103]:
l1=[]
l1.append(20)
l1

[20]

In [108]:
l2=[]
l2.append([10,20,30])
l2.append('python')
l2

[[10, 20, 30], 'python']

In [110]:
# suppose if you want to save the output in a seperate list, you can go with append
list1=['hyderabad','delhi','chennai','blr']
for i in list1:
    if(len(i)>4):
        print(i)

hyderabad
delhi
chennai

In [111]:
list1=['hyderabad','delhi','chennai','blr']
city_list=[]
for i in list1:
    if(len(i)>4):
        city_list.append(i)
city_list

['hyderabad', 'delhi', 'chennai']

In [114]:
list1=['hyderab#d','delhi','chenn#i','blr']
for i in list1:
    if('#' in i):
        print(i)

hyderab#d
chenn#i

In [115]:
list1=['hyderab#d','delhi','chenn#i','blr']
city_list1=[]
for i in list1:
    if('#' in i):
        city_list1.append(i)
city_list1

['hyderab#d', 'chenn#i']

In [116]:
list1=['Hyderab#d','Delhi','Chenn#i','b#lr','haridwar']
for i in range(len(list1)):
    if(list1[i].lower()[0]=='h'):
        print(list1[i])

Hyderab#d
haridwar

In [118]:
list1=['Hyderab#d','Delhi','Chenn#i','b#lr','haridwar']
city_list2=[]
for i in range(len(list1)):
    if(list1[i].lower()[0]=='h'):
        city_list2.append(list1[i])
city_list2

['Hyderab#d', 'haridwar']

In [120]:
list1=['omkar.nallagoni@gmail.com','kareem.pasha@gmail.com','santhosh.kadam@gmail.com']
for i in list1:
    print(i.split('@')[0].split('.')[1])

nallagoni
pasha
kadam

In [127]:
list1=['omkar.nallagoni@gmail.com','kareem.pasha@gmail.com','santhosh.kadam@gmail.com']
city_list4=[]
city_list5=[]
for i in list1:
    city_list5.append(i.split('.')[0])
    city_list4.append(i.split('@')[0].split('.')[1])
    
print(city_list5)
print(city_list4)

['omkar', 'kareem', 'santhosh']
['nallagoni', 'pasha', 'kadam']

In [177]:
# wap ask the user get 10 random numbers between 10 to 50
# get the even and odd number from those 10 random numbers

# take two empty lists : even and odd
# save the results in even and odd
import random
even_list=[]
odd_list=[]
for i in range(10):
    n=random.randint(1,50)
    if(n%2==0):
        even_list.append(n)
    else:
        odd_list.append(n)
    
############################################# 
output9=[n if(n%2==0) else n for i in range(10)]
output9

[44, 44, 44, 44, 44, 44, 44, 44, 44, 44]

In [141]:
even_list

[28, 30, 6, 16]

In [142]:
odd_list

[25, 9, 23, 15, 45, 13]

## list comprehension

In [144]:
list1=['hyderabad','delhi','chennai','blr']
city_list=[]
for i in list1:
    if(len(i)>4):
        city_list.append(i)
city_list

# start: you have taken an empty list
# end : appending the results

output=[i for i in list1 if(len(i)>4)]
output

['hyderabad', 'delhi', 'chennai']

In [146]:
list1=['hyderab#d','delhi','chenn#i','blr']
city_list1=[]
for i in list1:
    if('#' in i):
        city_list1.append(i)
city_list1

####################################################
output1=[i for i in list1 if('#' in i)]
output1

['hyderab#d', 'chenn#i']

In [156]:
list1=['Hyderab#d','Delhi','Chenn#i','b#lr','haridwar']
city_list2=[]
for i in range(len(list1)):
    if(list1[i].lower()[0]=='h'):
        city_list2.append(list1[i])
city_list2

#################################################
output2=[list1[i] for i in range(len(list1)) if(list1[i].lower()[0]=='h')]
output2

['Hyderab#d', 'haridwar']

In [165]:
list1=['omkar.nallagoni@gmail.com','kareem.pasha@gmail.com','santhosh.kadam@gmail.com']
city_list4=[]
city_list5=[]
for i in list1:
    city_list5.append(i.split('.')[0])
    city_list4.append(i.split('@')[0].split('.')[1])
    
city_list5
city_list4

##################################################
output3=[i.split('.')[0] for i in list1]
output4=[i.split('@')[0].split('.')[1] for i in list1]
output3,output4

(['omkar', 'kareem', 'santhosh'], ['nallagoni', 'pasha', 'kadam'])

In [158]:
square=[]
for i in range(5):
    square.append(i*i)

square

[0, 1, 4, 9, 16]

In [160]:
output7=[i*i for i in range(5)]
output7

[0, 1, 4, 9, 16]

In [179]:
# if else
even_odd=[]
for i in range(10):
    if(i%2==0):
        even_odd.append("even: {}".format(i))
    else:
        even_odd.append("odd: {}".format(i))
    
even_odd

###################################################3333
output3=["even: {}".format(i) if(i%2==0) else "odd: {}".format(i) for i in range(10)]
output3

['even: 0',
 'odd: 1',
 'even: 2',
 'odd: 3',
 'even: 4',
 'odd: 5',
 'even: 6',
 'odd: 7',
 'even: 8',
 'odd: 9']

In [181]:
output7=[i if(i%2==0) else 'odd' for i in range(10)]
output7

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd']

In [ ]:
[<output> <for loop> <if con>]    # for with if

[<if out> <if_cond> else <else_out> <for>]   # for with if-else

In [3]:
list1=['Apple','Ball','Cat','Dog','Elephant']
# if len(elements)>3 print it is good
# else print it is better

for i in list1:
    if(len(i)>3):
        print("{} is good".format(i))
    else:
        print("{} is better".format(i))

Apple is good
Ball is good
Cat is better
Dog is better
Elephant is good

In [12]:
list1=['Apple','Ball','Cat','Dog','Elephant']
items=[]
for i in list1:
    if(len(i)>3):
        items.append('{} is good'.format(i))
    else:
        items.append('{} is better'.format(i))
        
items

['Apple is good',
 'Ball is good',
 'Cat is better',
 'Dog is better',
 'Elephant is good']

In [13]:
output=['{} is good'.format(i) if(len(i)>3) else '{} is better'.format(i) for i in list1]

In [15]:
output

['Apple is good',
 'Ball is good',
 'Cat is better',
 'Dog is better',
 'Elephant is good']

# clear

In [20]:
list1.clear()
list1

# clear will clear all the elements in the list

[]

In [21]:
list2=[1,2,3,4]
list2.clear()
list2

[]

In [32]:
list1=[100,200,300]
del list1[0]

# del is not a method
# to delet a specific element in the list

In [33]:
list1

[200, 300]

In [50]:
list1=[1,2,3,4,5]
list1.pop()
list1.remove(1)

In [52]:
list1.remove(2)

In [53]:
list1

[3, 4]

### pop

In [54]:
list1=['A','B','C','D','E']
list1.pop()

# default argument index = -1
# which is last element
# if you not provide any value, it will delete the last element
# it is also return which value deleted
# and it saves result in the same list

'E'

In [55]:
list1

['A', 'B', 'C', 'D']

In [56]:
list1.pop(3)   # here 3 is index

'D'

### remove

In [60]:
list1=['A','B','C','D','E']
list1.remove('D')

# it takes element of the list directly
# it will not return anything
# it also saves results in same list

In [61]:
list1

['A', 'B', 'C', 'E']

In [67]:
list2=[i for i in range(1,100,3)]
list2

# from this list2, i want to delete number 55

[1,
 4,
 7,
 10,
 13,
 16,
 19,
 22,
 25,
 28,
 31,
 34,
 37,
 40,
 43,
 46,
 49,
 52,
 55,
 58,
 61,
 64,
 67,
 70,
 73,
 76,
 79,
 82,
 85,
 88,
 91,
 94,
 97]

In [63]:
list2.remove(55)

In [64]:
list2

[1,
 4,
 7,
 10,
 13,
 16,
 19,
 22,
 25,
 28,
 31,
 34,
 37,
 40,
 43,
 46,
 49,
 52,
 58,
 61,
 64,
 67,
 70,
 73,
 76,
 79,
 82,
 85,
 88,
 91,
 94,
 97]

# index

In [69]:
list1

['A', 'B', 'C', 'E']

In [70]:
list1.index('C')

2

In [71]:
list1.pop(list1.index('C'))

'C'

In [72]:
list1

['A', 'B', 'E']

In [95]:
string1='kl.rahul@pune.com','virat.kohli@banglore.com','rohit.sharma@mumbai.com'

# first names
# second names
# company names(bcci)

str1,str2,str3=[],[],[]
for i in (string1):
    str1.append(i.split('.')[0])
    str2.append(i.split('@')[0].split('.')[1])
    str3.append(i.split('@')[1].split('.')[0])
print(str1)
print(str2)
print(str3)

['kl', 'virat', 'rohit']
['rahul', 'kohli', 'sharma']
['pune', 'banglore', 'mumbai']

In [126]:
f_name1=[i.split('.')[0] for i in (string1)]
s_name2=[i.split('@')[0].split('.')[1] for i in (string1)]
c_name3=[i.split('@')[1].split('.')[0] for i in (string1)]

In [127]:
f_name1,s_name2,c_name3

(['kl', 'virat', 'rohit'],
 ['rahul', 'kohli', 'sharma'],
 ['pune', 'banglore', 'mumbai'])

- append

- clear

- pop

- remove

- index

- del(not a method)

# copy

In [133]:
list1.copy()

['A', 'B', 'E']

In [134]:
list1=[1,2,3,4,5,]
list1.copy()

[1, 2, 3, 4, 5]

In [146]:
list1=[1,2,3,4,5]
list2=list1.copy()
list1.clear()
print(list1)
print(list2)

[]
[1, 2, 3, 4, 5]

# extend

In [159]:
list1=[1,2,3,4,5]
list2=['A','B','C']
list1.extend(list2)
list2.extend(list1)

In [160]:
list1,list2

([1, 2, 3, 4, 5, 'A', 'B', 'C'], ['A', 'B', 'C', 1, 2, 3, 4, 5, 'A', 'B', 'C'])

In [178]:
list1=["Ram","Raheem","Robert"]
list2=[25,30,35]

# ram age is 25
# raheem age is 30
# robert age is 35

for i in range(len(list1)):
    if(len(list1[i])>0):
        print("{} age is {}".format(list1[i],list2[i]))

Ram age is 25
Raheem age is 30
Robert age is 35

# zip

In [170]:
list1=["Ram","Raheem","Robert"]
list2=[25,30,35]
for i,j in zip(list1,list2):
    print('{} age is {}'.format(i,j))

Ram age is 25
Raheem age is 30
Robert age is 35

# sort

In [180]:
list2=['B','A','D','C']
list2.sort()

In [182]:
list2

['A', 'B', 'C', 'D']

In [189]:
print(list2)

['A', 'B', 'C', 'D']

In [185]:
list3=['B','A','D','C']

In [186]:
sorted(list3)

['A', 'B', 'C', 'D']

In [187]:
list3

['B', 'A', 'D', 'C']

In [ ]:
# in sorted reults are not saving
# in sort , results are saving

# join

In [ ]:
string1='kl.rahul@pune.com','virat.kohli@banglore.com','rohit.sharma@mumbai.com'

In [190]:
# now this is in list
# now converting list to strings 

','.join(string1)

'kl.rahul@pune.com,virat.kohli@banglore.com,rohit.sharma@mumbai.com'

In [191]:
list1=['A','P','P','L','E']

In [192]:
''.join(list1)

'APPLE'

# insert

In [194]:
list1=[1,2,3,4,5]
list1.append(6)
list1

[1, 2, 3, 4, 5, 6]

In [204]:
list2=[1,2,3,4,5]
list2

[1, 2, 3, 4, 5]

In [207]:
list2.insert(5,8)
list2

[1, 2, 3, 4, 5, 8, 8]

In [206]:
# list.insert(index,object)

[1, 2, 3, 4, 5, 8]