In [1]:

a=20
print(a)

20

In [2]:
a=20
b=30
a
b

30

In [3]:
a=30
b=40
print(a)          
print(b)

30
40

In [6]:
# I want t0 print 
# hai how are you

print("hai how are you")

hai how are you

In [7]:
name="python"                 # name is a variable bcz of black colour
print(name)

python

In [8]:
print("my name is python")       # whatever in red colour will print

my name is python

In [9]:
print("my name is name")

my name is name

In [10]:
print("my name is",name)

my name is python

In [14]:
num1=30
# the value of num1 is 30
print("The value of num1 is",num1)

The value of num1 is 30

In [16]:
# the value of num1 is 30

print("The value of num1 is:",num1)

The value of num1 is: 30

In [17]:
print("hai")
print("how are you")

hai
how are you

# i want to combine multiple print statements

end operator will use

In [3]:
print("hai",end='')
print("how are you")

haihow are you

In [4]:
print("hai",end='---')           # between quotes give space to get space, give anything in the quotes it will sepearte the stmt
print("how are you")

hai---how are you

In [24]:
print("hai",end=' ')
print("how",end=' ')
print("are",end=' ')
print("you")

hai how are you

In [26]:
num1=100
num2=500
add=num1+num

2
add

# the addition of 100 and 500 is 600

600

In [32]:
num1=100
num2=500
add=num1+num2
print("The addition of 100 and 500 is",add)
print("The addition of",num1, "and" ,num2, "is",add)

The addition of 100 and 500 is 600
The addition of 100 and 500 is 600

In [35]:
a=20
b=30
mul=a*b
print("The multiplication of 20 and 30 is",mul)
print("The multiplication of",a, "and",b, "is",mul)

The multiplication of 20 and 30 is 600
The multiplication of 20 and 30 is 600

In [36]:
print("The multiplication of {} and {} is {} ".format(a,b,mul))           # fill it as blanks and use format

The multiplication of 20 and 30 is 600

In [37]:
number1=100
number2=200
add=number1+number2
print("The addition of {} and {} is {}".format(number1,number2,add))

The addition of 100 and 200 is 300

In [2]:
name="python"
city="hyd"
age=30

# my name is python, i leaves in hyd and my age is 30

print("my name is {}, i leaves in {} and my age is {}".format(name,city,age))

my name is python, i leaves in hyd and my age is 30

# seperator

# sep

In [1]:
print('hai','hello')

hai hello

In [2]:
print('hai','hello',sep='&')

hai&hello

In [3]:
print('hello','python','excited',sep='----->')

hello----->python----->excited

In [5]:
print("12","10","2023",sep="-")

12-10-2023

In [ ]:
# wap ask the user enter a distance in km
#  ask the user enter a fare in rs
#  calculate total amount to pay
 
#  output
#  for 2kms the fare is 20rs

In [24]:
Distance=eval(input("enter a distance in km:"))
Fare=eval(input("enter a fare in rs:"))
total_amount=Distance*Fare
print("for {} kms the fare is {} rs.".format(Distance,total_amount))

enter a distance in km:2
enter a fare in rs:10
for 2 kms the fare is 20 rs.

In [ ]:
# implement above code using sepeartor operator

In [22]:
Distance=eval(input("enter a distance in km:"))
Fare=eval(input("enter a fare in rs:"))
total_amount=Distance*Fare
print("for {} kms the fare is {} rs".format(Distance,total_amount),'.',sep='')


# dot is too far
# to reduce the dot we use SEP operator

enter a distance in km:2
enter a fare in rs:10
for 2 kms the fare is 20 rs.

In [25]:
# ramesh & 35

print("ramesh","35",sep=" & ")

ramesh & 35