# lambda function using one argument

In [1]:
# normal function

def add(x):
    return(x+10)

add(10)

20

In [ ]:
# how many arguments are there     x
# what you are returning           x+10
 
<function_name>= lambda <argument_name>:<return_value>

In [9]:
add=lambda x:x+10
add(10)

20

In [10]:
def mul(num):
    return(num*num)

mul(5)

25

In [11]:
mul=lambda num:num*num
mul(5)

25

In [12]:
def cube(val):
    return(val*val*val)

cube(3)

27

In [13]:
cube=lambda val:val*val*val
cube(3)

27

# lambda function using two argumments

In [14]:
def sum1(a,b):
    return(a+b)

sum1(10,30)

40

In [17]:
sum1=lambda a,b:a+b
sum1(10,30)

40

In [18]:
def avg(a,b,c):
    return((a+b+c)/3)

avg(3,4,5)

4.0

In [19]:
avg=lambda a,b,c:(a+b+c)/3
avg(3,4,5)

4.0

In [28]:
def avg(a,b,c=100):
    return((a+b+c)/3)

avg(3,4)
round(avg(3,4),2)

35.67

In [25]:
avg=lambda a,b,c=100:round((a+b+c)/3,2)
avg(3,4)

35.67

# lambda function with if else

In [29]:
def greater(num1,num2):
    if(num1>num2):
        return(num1)
    else:
        return(num2)
    
greater(50,100)

100

In [34]:
greater=lambda num1,num2:num1 if(num1>num2) else num2
greater(50,100)

100

# lambda function with list

In [46]:
# method-1

list1=["hyd","mumbai","bengaluru"]

# output : ['HYD','MUMBAI','BANGLORE']

list2=[]
for i in list1:
        list2.append(i.capitalize())
        
list2

['Hyd', 'Mumbai', 'Bengaluru']

In [45]:
# method-2

output=[i.capitalize() for i in list1]
output

['Hyd', 'Mumbai', 'Bengaluru']

In [71]:
 # method-3
    # lambda <var> : <output> , <list1/str/tuple>

list1=["hyd","mumbai","bengaluru"]
list(map(lambda i:i.capitalize(),list1))

# step-1 : create a lambda function : lambda i:i.capitalize()
# step-2 : add your iterator

#            lambda i:i.capitalize(),list1    

# step-3 : mapping of both step-1 and step-2 
            
#             map(step1,step2)
#             map(lambda i:i.capitalize(),list1)

# step-4 : save the results again in a list or tuple
  
#             map(step1,step2)
#             list(map(lambda i:i.capitalize(),list1))

['Hyd', 'Mumbai', 'Bengaluru']

In [ ]:
# what is meant by iterater 

# which data type you can iterate

# which means which data types you can print by using for loop?

In [72]:
list1=[1,2,3,4]

# output=[1,4,9,16]

list2=[]
for i in list1:
    list2.append(i*i)
    
list2

[1, 4, 9, 16]

In [75]:
def square(num):
    return(num*num)

square(10)

100

In [73]:
list(map(lambda i:i*i,list1))

[1, 4, 9, 16]

In [93]:
list1=['hyd','Biryani','Buvaneshwar','rasagulla']

# output: ['Biryani','Buvaneshwar','rasagulla']

list2=[]
for i in list1:
    if(len(i)>3):
        list2.append(i)
list2

['Biryani', 'Buvaneshwar', 'rasagulla']

In [106]:
list(map(lambda i:(len(i)>3),list1))              # map is without condition

[False, True, True, True]

In [107]:
list(filter(lambda i:(len(i)>3),list1))          # whenever we see the condition

['Biryani', 'Buvaneshwar', 'rasagulla']

In [112]:
list1=['hyd','Biry#ani','Buvan#eshwar','ra#gulla']
for i in list1:
    if("#" in i):
        print(i)

Biry#ani
Buvan#eshwar
ra#gulla

In [113]:
list1=['hyd','Biry#ani','Buvan#eshwar','ra#gulla']
list2=[]
for i in list1:
    if("#" in i):
        list2.append(i)
        
list2

['Biry#ani', 'Buvan#eshwar', 'ra#gulla']

In [111]:
list(filter(lambda i:('#' in i),list1))

['Biry#ani', 'Buvan#eshwar', 'ra#gulla']

In [128]:
list1=[1,2,3,4,5,6]
list2=[]
list3=[]
dict1={}
for i in list1:
    if(i%2==0):
        list2.append(i)
    else:
        list3.append(i)
        
dict1["even"]=list2
dict1["odd"]=list3
dict1

{'even': [2, 4, 6], 'odd': [1, 3, 5]}

In [145]:
list(map(lambda i:{i:'odd'} if(i%2==0) else {i:'even'},list1))

[{1: 'even'}, {2: 'odd'}, {3: 'even'}, {4: 'odd'}, {5: 'even'}, {6: 'odd'}]

In [4]:
file_path="C:\\Users\\Venkatesh\\Documents\\Datafiles\\mbox-short.txt"
file=open(file_path,mode='r',encoding='utf-8')
print(file.read())

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\Venkatesh\\Documents\\Datafiles\\mbox-short.txt'