# Tuple

- Tuple is a type of data structure that is very similar to lists

### 1) Reading string

In [8]:
name1=(1, 2, 3)
name1

(1, 2, 3)

In [18]:
my_tuple = ("one", "two", "three")
my_tuple

('one', 'two', 'three')

# 2) Type, len,max,min

### type

In [19]:
# type is used to find the type of datatype
name1=(1, 2, 3)
type(name1)

tuple

### len

In [20]:
# len is used to find the length of a tuple
name1=(1, 2, 3)
len(name1)

3

### max

In [22]:
# max is used to find the maximum charactor of a tuple
my_tuple = ("one", "two", "three")
max(my_tuple)

'two'

### min

In [15]:
# min is used to find the minimum charector of a tuple  
name1=(1, 2, 3)
min(name1)

'h'

# 3)Concatenation

In [23]:
# concatenation is adding 
tuple1=("apple","ball","cat")
tuple2=(1, 2, 3)
tuple3=(23,4.0,10+30j)
tuple1+tuple2+tuple3

('apple', 'ball', 'cat', 1, 2, 3, 23, 4.0, (10+30j))

# 4) mutability-imutability concept

In [25]:
# in 
tuple1=("apple","ball","cat")
tuple1[0]="word"

TypeError: 'tuple' object does not support item assignment

In [ ]:
# I want to replace 'apple' with 'word'
# based on index operation if you change it or not
# if you change the value by using index operation: mutable
# if you could not change the value by using index operation: immutable

- So Tuple are immutable

# 5) tuple index

In [19]:
# allows you to access individual characters in a tuple directly by using a numeric value.
tuple1=("apple","ball","cat")

In [ ]:
# how many letters are there: 3
# python index start with :0

In [26]:
print(tuple1[0]) # 'apple'
print(tuple1[1]) # 'ball'
print(tuple1[2]) # 'cat'

apple
ball
cat

# 6) tuple slice

In [8]:
tuple1=("apple","ball","cat","date","height","sai","venkatesh","hai")
# this concept is same as range() in for loop
# tuple[start:stop:step]    
# range(start,stop,step)

In [9]:
tuple1[1:2]
# what is the direction: postive
# start=2
# stop=4-1=3

('ball',)

In [45]:
tup2 = (22, 3, 45, 4, 2.4, 2, 56, 890, 1)
print(tup2[1:4])
print(tup2[:])

(3, 45, 4)
(22, 3, 45, 4, 2.4, 2, 56, 890, 1)

In [53]:
tup2[1:6:2]
# start=1
# stop=6-1=14
# post: step=2
# 1 3 5 7 9 11 13
# e l   o   r

(3, 4, 2)

In [46]:
print(tup2[0:])
print(tup2[:len(tup2)])
print(tup2[:])
print(tup2[::])

(22, 3, 45, 4, 2.4, 2, 56, 890, 1)
(22, 3, 45, 4, 2.4, 2, 56, 890, 1)
(22, 3, 45, 4, 2.4, 2, 56, 890, 1)
(22, 3, 45, 4, 2.4, 2, 56, 890, 1)

- nothing mentioned at start postition: simply satrting of letter
- nothing mentioned at stop postion: simply last letter
- nothing mentioned at step size: it is postive direction with step value +1

In [28]:
# this is an example of reverse of string without using reverse method
string1[::-1]
# in the negative
# start: u
# stop:h

'uoy era woh olleh'

# 7) String methods

In [29]:
# a set of build-in methods that can use on strings fro handling and controling
dir('name')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

### - Capitalize

In [34]:
name='automatic controls'

In [32]:
help(name.capitalize)

Help on built-in function capitalize:

capitalize() method of builtins.str instance
    Return a capitalized version of the string.

    More specifically, make the first character have upper case and the rest lower
    case.

In [35]:
name.capitalize()

'Automatic controls'

### - upper

In [36]:
name='authentic'
# Upper is a method which will convert string into Upper case
help(name.upper)

Help on built-in function upper:

upper() method of builtins.str instance
    Return a copy of the string converted to uppercase.

In [37]:
name.upper()

'AUTHENTIC'

### - lower

In [47]:
# lower is a method which will convert string into lower case
help(name.lower)

Help on built-in function lower:

lower() method of builtins.str instance
    Return a copy of the string converted to lowercase.

In [48]:
name.lower()

'authentic'

### - Casefold

In [44]:
# In case of Casefold method the string is convert into samll letters
name1='Robotics'
help(name1.casefold)

Help on built-in function casefold:

casefold() method of builtins.str instance
    Return a version of the string suitable for caseless comparisons.

In [45]:
print(name1.casefold())

robotics

### - Index

In [62]:
#  the process of accessing a specific element in a sequence, such as a string or list, using its position or index number.

In [58]:
string1='python'
# If i want to know
# index of 't' then
string1.index('t')

2

In [65]:
string1='restart how to'
# get the first 't'
f_o=string1.index('t')
s_o=string1.index('t',f_o+1)
t_o=string1.index('t',s_o+1)
print(f_o,s_o,t_o)

3 6 12

### - find

In [ ]:
# index and find methods both are same, we get same outputs
# but there is one difference that is,if it is fail then the output will be -1

In [66]:
string1='python'
# If i want to know
# index of 't' then
string1.find('t')

2

In [69]:
string1='python'
string1.find('m')

-1

In [67]:
string1='restart how to'
# get the first 't'
f_o=string1.find('t')
s_o=string1.find('t',f_o+1)
t_o=string1.find('t',s_o+1)
print(f_o,s_o,t_o)

3 6 12

### Strip-rstrip-lstrip

In [71]:
string1=' hai how are you ' # both strip
string2='hai how are you ' # right strip/rstrip
string3=' hai how are you' # left strip/lstrip

- if you want remove the spaces we use method strip
- strip: It will remove spaces both sides
- lstrip: It will remove left side space
- rstrip: It will remove right side space

In [73]:
string1.strip(),string1.lstrip(),string1.rstrip()

('hai how are you', 'hai how are you ', ' hai how are you')

In [ ]:
string1='&&&&&hello&&&&&&&&&&&&&&&&&&&'
print(string1.strip('&'))
print(string1.lstrip('&')) # left strip
print(string1.rstrip('&')) # right strip

### - Startswith/endswith

In [76]:
string1='pushpa,hai how are you'
string1.startswith('p')

True

In [78]:
string1.endswith(' you')

True

In [79]:
string1.endswith(string1)

True

### - Count

In [85]:
# counts the number of cells that contain numbers, and counts numbers within the list of arguments. 
sent='hai hai how are you'
sent.count('h')

3

In [87]:
string2='aha aha aha aha'
print(string2.count('aha')) 
print(string2.count('a'))
print(string2.count('ah'))
print(string2.count('aa '))

4
8
4
0

In [88]:
# count
sent='hai hai how are you'
# first iteratre letters
count=0
for i in range(len(sent)):
    if sent[i]=='a':
        count=count+1
    
print("no of repated a are:",count)

no of repated a are: 3

### - Replace

In [97]:
# which replace the old arguments into new arguments
# string1.replace(old, new, count=-1, /)
string1='wonder'
# I want replace 'n' with 'N'
string1.replace('n','N')

'woNder'

In [95]:
string1[:2]+'N'+string1[3:]

'woNder'

In [98]:
string1 ='restart'
print('$'+string1[1:]) # we already know
print(string1[:5]+'$'+string1[6:]) # we already know
print(string1.replace('r','$'))

$estart
resta$t
$esta$t